/* static/styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

/* Container styles */
.container {
  width: 80%;
  margin: auto;
}

/* Progress chart styles */
.progress-chart {
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
}

/* Additional styles for each progress chart */
#cpu-chart-container label,
#ram-chart-container label,
#disk-chart-container label {
  display: block;
  margin-bottom: 5px;
}
