<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Charts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="progress-label">Real-Time Progress Charts</h1>
        <div class="progress-chart" id="cpu-chart-container">
            <!-- <label>CPU Usage:</label> -->
            <canvas id="cpu-chart"></canvas>
            <div id="cpu-diff"></div>
        </div>
        <div class="progress-chart" id="ram-chart-container">
            <!-- <label>RAM Usage:</label> -->
            <canvas id="ram-chart"></canvas>
            <div id="ram-diff"></div>
        </div>
        <div class="progress-chart" id="disk-chart-container">
            <!-- <label>Disk Usage:</label> -->
            <canvas id="disk-chart"></canvas>
            <div id="disk-diff"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>










